body {
    @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: aliceblue;
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    letter-spacing: 0%;
    font-weight: bold;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.logo {
    width: 72.9px;
    height: 74px;
    margin-right: 17px;
}

.phone {
    width: 30px;
    height: 30px;
    background-color: aliceblue;
}

.sam {
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 0%;
}

.samSpecial {
    color: #f69708;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

a {
    font-weight: 900;
    text-decoration: none;
    color: aliceblue;
    margin: 0;
    letter-spacing: 0%;
    padding: 10px;
}

.gold {
    color: #f69708;
}

.myBusiness {
    display: flex;
    align-items: center;
}

.vertical-line {
    width: 5px;
    height: 30px;
    background-color: gold;
}

.contact {
    display: flex;
    align-items: center;
}

.number {
    font-weight: 900;
}

.container {
    width: 100%;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.myDetails {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 36px;
    font-weight: 100;
    margin-top: 88px;
}

.myphoto {
    width: 50%;
    margin: 0;
    padding: 0;
}

.myname {
    font-size: 110px;
    font-weight: 600;
    line-height: 90%;
    letter-spacing: 0%;
    margin-top: 23px;
    margin-bottom: 56px;
}

button {
    width: 180px;
    height: 45px;
    background-color: #f69708;
    padding: 8px 24px;
    border-radius: 15px;
    font-size: 24px;
    font-weight: bold;
    margin-top: 48px;
    cursor: pointer;
}

.social {
    display: flex;
    width: 333px;
    height: 67px;
    border-radius: 30px;
    background-color: #2d2c2c;
    margin: 0;
    margin-top: 100px;
    justify-content: space-between;
    padding: 0 10px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.twitter,
.linkedin {
    position: relative;
    width: 132px;
    height: 48px;
    background-color: #0b0a0a;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.twitter img,
.linkedin img {
    width: 100%;
    height: auto;
}

.myDetails2{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 36px;
    font-weight: 100;
    margin-top: 88px;
    margin-left: 83px;
}
.myname2{
    font-weight: bold;
}

ul{
    list-style-type: none;
    font-size: 20px;
    padding-left: 40px;
    padding-top: 46px;
}

.dev{
    margin-top: 50px;
    margin-bottom: 40px;
}

.descr{
    font-size: 20px;
}

.icons img:nth-child(4),
.icons img:nth-child(5) {
    background-color: #fff;
    padding: 5px;
}

.skills-acquired {
    text-align: center;
    font-size: 27px;
    font-weight: 400;
    width: 45%;
}


.icons {
    margin: 80px auto;
}

.icons img{
    height: 70px;
    margin-right: 10px;
}

.skills-acquired p{
    width: 492px;
    margin: 80px auto;
}

.mission{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 36px;
}

.skills-grading {
    width: 45%;
    line-height: 0%;
    margin: 80px auto;
}

.bar {
    border: none;
    border-top: 5px solid gold;
    width: auto;
    margin: 0 auto;
    margin-top: 5px;
}

.grading {
    display: flex;
    position: relative;
    justify-content: left;
    align-items: center;
    font-size: 36px;
    font-weight: 400;
}

.percent {
    position: absolute;
    right: 0;
    top: 10%;
    transform: translateY(-50%);
}

footer {
    font-size: 26px;
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
}